Source: ezvm
Section: utils
Priority: optional
Maintainer: newton <newton.s.kim@gmail.com>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.8
Homepage: https://sourceforge.net/projects/ezvm
#Vcs-Git: git://anonscm.debian.org/collab-maint/ezvm.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ezvm.git

Package: ezvm
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: evzm is a language vm which is dedicated to script languages.
 It is based on Harvard architecture, provides script language functions (scope, dynamic prototyping and first class object), and supports garbage collection. ezvm serves back end functions of any scripting langaage.
